body{
  color: #ffffff;
  background-color: #000000;
}

.inverted{
  color: #000000;
}
.img{
  width: 100%;
}
.img-mid{
  width: 100%;
  width: 546px;
}
.img-small{
  width: 130px;
}
.full{
  height: 100%;
}
.navs{
  color: #ffffff;
  text-decoration: none;
}